body{
	padding: 0px;
	background-color: black;
	/* background-image: url("background.jpg"); */
	background-attachment: fixed;
	height:100%;
}

#stheme{
	background-image: url("background.jpg");
	padding-left: 50px;
	padding-right: 50px;
}
#spic{
	align-items: center;
	background-size: cover;
	height: 500px;
	width: 650px;
}